[submodule "lib/QDataSuite"]
	path = lib/QDataSuite
	url = /Users/niklaswulf/Development/QDataSuite/QDataSuite
[submodule "lib/QSerienJunkies"]
	path = lib/QSerienJunkies
	url = /Users/niklaswulf/Development/QSerienJunkies/QSerienJunkies
